
.Container{
    border: 1px solid black;
     border-radius: 10px;
    border-radius: 60px;
    box-shadow: 0 0 1px 3px rgb(25, 23, 23);
    background-color:#D9D9D6;
    height: 190vh;






}

.card-title{
    margin-top: 30px;
    text-align: center;

    
}

.heading{
    font-size: 50px;
	font-family:cursive;
	font-style: italic;
	color: rgb(31, 143, 207);
    text-align: center;
}
.card-decription{
text-align: center;   
}

.para{
    
	font-weight:bold;
	font-family:'Courier New', Courier, monospace;
    color:rgb(8, 8, 6);
    font-size: 30px;
    float: left;
    display: block;
    margin:auto;

}
.icons{
    height: 50px;
    width: 50px;
    font-weight: 100px;
}

.event-onclick{
    display: flex;
     justify-content: center;
     height: 80px;
     margin-top: 90px;
     margin-right: 700px;
}
.quantity{
    font-size: 40px;
    color: rgb(57, 13, 219);
    margin-right: 50px;
    text-align: center;
}

#counter{
    
    font-size: 50px;
    margin-right: 60px;
    margin-left: 60px;   
}
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49C608;
	border-radius: 10px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	outline: none;
	border: 2px,solid rgb(24, 5, 5);
    font-size: 30px;
    color: #D9D9D6;
    box-shadow: 0 0 1.5px 3px  #5f5f9b;


}

.btn:hover{
    color: black;
    background-color: rgb(221, 225, 214);
}




.btn-2{
    cursor: pointer;
    border: 1px,solid rgb(18, 18, 202);
    height:80px;
    width: 80px;
    box-shadow: 0 0 1.5px 3px  #9494b4;
    background-image: linear-gradient(#ccff66,#ffff66);
    display: block;
     margin:auto ;
}

.btn-2:hover{
    background-image: linear-gradient(rgb(163, 163, 22), #ffd11a);

}


.reset{
    cursor: pointer;
    border: 1px,rgb(174, 226, 43);
    height:50px;
    width: 80px;
    background-image: white;
    background-image: linear-gradient(#ccff66,#ffff66);
    margin-right: 710px;
    margin-top: 60px;
    



}

.reset:hover{
    background-image: linear-gradient(rgb(163, 163, 22), #ffd11a);

}

   


.img{
    height: 400px;
    width:400px;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1.5px rgb(100, 87, 87);
    display: block;
    margin:auto;
}

